.accordion {
  .accordion-item {
    .accordion-button {
      border: 2px solid gray;
      box-shadow: none;
      background-color: unset;
      color: unset;
    }
    margin-bottom: 20px;
    &:checked {
      border: unset;
    }
    .accordion-collapse {
      z-index: 10;
      .accordion-body {
        padding: 0;
        table {
          width: 100%;

          thead {
            background-color: rgb(61, 59, 59);
            color: white;

            th {
              padding: 20px 10px;
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid red;
              &:last-child {
                border-bottom: unset;
              }
              td {
                padding: 20px 10px;
                color: gray;
              }
            }
          }
        }
      }
    }
  }
}
